@media (max-width: 1500px) {
    .media__inner {
        display: none;
    }

    .media__menu {
        display: none;
    }
}

@media (max-width: 1200px) {
    .header__inner {
        display: none;
    }

    .media__inner {
        display: block;
        background: #0F0F0F;
        padding: 15px 100px;
    }

    .media__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
       display: block;
    }

    .media__menu {
        display: block;
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        top: -600px;
        transition: all .5s ease;
        padding-bottom: 50px;
        padding-top: 50px;
        background: #0F0F0F;

    }

    .burger {
        display: block;
        width: 100%;
        position: absolute;
        top: 130px;
        transition: all .5s ease;
    }


    .menu__list {
        display: block;
    }

    .menu__link {
        display: inline-block;
        padding: 10px 30px;
    }


    .burger__active {
        width: 25px;
        display: flex;
        margin-left: 15px;
        flex-direction: column;
        cursor: pointer;
    }

    .burger__active span:nth-child(1) {
        display: inline-block;
        width: 25px;
        height: 2px;
        background: #FFFFFF;
        transition: all .2s ease-in-out;
    }

    .burger__active span:nth-child(2) {
        display: inline-block;
        width: 20px;
        height: 2px;
        background: #FFFFFF;
        margin: 5px 0 5px 5px;
        transition: all .2s ease-in-out;
    }

    .burger__active span:nth-child(3) {
        display: inline-block;
        width: 15px;
        height: 2px;
        background: #FFFFFF;
        margin: 0 0 0 10px;
        transition: all .2s ease-in-out;
    }

    .burger__btn span:nth-child(2) {
        display: inline-block;
        width: 25px;
        height: 2px;
        background: #FFFFFF;
        margin: 5px 0 5px 0;
    }

    .burger__btn span:nth-child(3) {
        display: inline-block;
        width: 25px;
        height: 2px;
        background: #FFFFFF;
        margin: 0;
    }


    #register {
        padding: 15px 100px;
    }

    .header__inner {
        padding: 15px 100px;
    }


    #new__collection {
        flex-direction: column;
        align-items: center;
        background: #0F0F0F;
    }

    .clock {
        width: 100%;
    }

    #new__collection .row {
        flex-direction: column;
        align-items: center;
        margin: -25px 0;
    }

    #new__collection .col-4 {
        padding: 25px 0;
        width: 40%;
    }

    .catalog {
        width: 79%;
    }

    .catalog__item {
        padding-bottom: 100px;
    }

    #old__collection {
        flex-direction: column;
        align-items: center;
        background: #0F0F0F;
        padding-top: 100px;
    }

    .old__fashion {
        min-height: 600px;
        width: 79%;
    }

    .old__fashion-info {
        width: 100%;
    }


    #new__receipts .row {
        flex-direction: column;
        align-items: center;
        margin: -12px 0;
    }

    #new__receipts .col-3 {
        width: 40% ;
    }

    #brands .row {
        justify-content: center;
        flex-wrap: wrap;
        margin: -25px 170px;
    }

    #brands .col-3 {
        text-align: center;
        width: 50%;
        padding: 25px 0;
    }


    #main__info .row {
        flex-direction: column;
        align-items: center;
        margin: -25px 0;
    }

    #main__info .col-4 {
        padding: 25px 0 ;
    }

    .footer {
        padding: 20px 100px;
    }




}


@media (max-width: 991px) {
    #hero .col-4 {
        width: 40%;
    }

    #brands .row {
        flex-direction: column;
        align-items: center;
        margin: 0;

    }

}

@media (max-width: 767px) {
    #hero .col-4 {
        width: 45%;
    }

    .hero__logo {
        font-size: 60px;
    }

    .hero__town {
        font-size: 20px;
    }

    .hero__desc {
        width: 460px;
    }

    #brands .row {
        flex-direction: column;
        align-items: center;
        margin: 0;

    }

    #main__info .col-4 {
        width: 50%;
    }

}


@media (max-width: 480px) {

    #register {
        padding: 15px 10px;
    }

    #hero .col-4 {
        width: 60%;
    }

    .hero__desc {
        width: 350px;
    }

    .catalog__menu {
        padding: 7px 20px;
    }

    .clock__title {
        font-size: 30px;
    }

    .catalog__title {
        font-size: 30px;
    }

    #new__collection .col-4 {
        width: 55%;
    }

    .old__fashion__title {
        font-size: 30px;
    }

    .old__fashion-desc {
        width: 325px;
    }

    .old__fashion-menu {
        padding: 13px 14px;
    }

    .receipts__title {
        font-size: 30px;
    }

    .brands__title {
        font-size: 30px;
    }

    #brands .row {
       flex-direction: column;
        align-items: center;
        margin: 0;

    }

    #brands .col-3 {
        width: 100%;
    }

    #main__info .col-4 {
        width: 60%;
    }

    .main__info-desc {
        width: 254px;
    }

    }

